<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>935649911590-4e58d6grsejsknarn1juu0fsjirm68qq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.935649911590-4e58d6grsejsknarn1juu0fsjirm68qq</string>
	<key>API_KEY</key>
	<string>AIzaSyCiAulSdP6YZ15uJY_9hSoP66axjnQ7VWk</string>
	<key>GCM_SENDER_ID</key>
	<string>935649911590</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.rafsan.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-rafsan</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-rafsan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935649911590:ios:d0788cfcdcdb77c3e657e7</string>
</dict>
</plist>